@charset "UTF-8";

* {
	font-family: "BIZ UDPゴシック","BIZ UDPGothic";
	box-sizing:border-box;
	float: none;
	position: static;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	background-color: rgb(219, 255, 237);
}



h1 {
	margin: 0;
	padding: 2% 0 ;
}

header {
	text-align: center;
	margin: 10% auto 0 auto;
	width :auto;
}

body {
	margin: 0;
	text-align: center;
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*外側要素　背景青*/
.h1_div_out {
    background-color: rgb(50, 220, 220);
    text-align: center; /*div_int_02のテキストを中央揃えにする*/
    margin-bottom: 0;
    border:none;
    position:relative;
    bottom:60px;
}

/*内側要素　背景黒　文字周辺だけ黒背景にして青背景を分断する*/
.h1_div_into {
    /*border: solid 6px steelblue;
    border-width: 0 610px 0 610px;*/
    background-color: rgb(233, 233, 233);
    width: 30%;
    margin: 0 auto; /*div_int_02の要素自体を中央揃えにする*/
    padding-top:10px;
    font-weight: bold;
}


.form_div {
	width: 960px;/*横幅*/
	margin: 0 auto;/*中央寄せ*/
	padding: 60px 0;
	background-color :rgb(233, 233, 233);
	box-shadow: 4px 4px #0003;
}

.form_in_p {
	text-align: left;
	color :rgb(100, 100, 100);
	font-size: 10px;
	width : 70%;
	position :relative;
	left :10%;
	margin-bottom: 0;
}

.text_inp {
	width :80%;
	margin :0%;
	padding : 10px 30px;
	border: none;
	outline:none;
}

.text_inp:focus {
	background-color: rgb(255, 210, 128);
}

.ast {
	color:crimson;
}

.under_ber {
	font-family:sans-serif ;
}

.main_sub {
	color: white;
	border: none;
	margin-top: 40px;
	padding :15px 30px;
	background-color: black;
	border-radius: 6px;
	transition: .3s;
	cursor: pointer;
}

.main_sub:hover {
  background: rgb(50, 220, 220);
}

.regist {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.registButton {
	color: #fff;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.registBtn {
	text-decoration: none;
}