* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
}

header {
	margin: 0 0 1rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #faf;
}

.text {
	font-size: 20px;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bus {
	padding: 10px;
	border: 1px solid #00f;
	border-radius: 3px;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	width: 50px;
	height: 50px;
	padding: 5px;
	border: 1px solid #0003;
	border-radius: 3px;
	cursor: pointer;
}

.box:nth-of-type(2) {
	margin-right: 20px;
}

.selected {
	background-color: skyblue;
}

.reserved {
	background-color: gray;	
	cursor: default;
}

.info {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#submit {
	margin-left: 1rem;
	padding: 3px 10px;
	border: 1px solid #ff0;
	background-color: orange;
	cursor: pointer;
}

#submit:hover {
	opacity: 0.7;
}