@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.title {
	margin: 1rem;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-collapse: collapse;
}

tbody {
	border-color: rgb(41, 221, 41);
}

th {
	color: #fff;
	background-color: rgb(133, 133, 133);
	padding: 5px 13px;
	text-align: center;
}

td {
	text-align: right;
	padding: 3px 15px;
}

a {
	color: #00f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}